.custom-footer {
  background-color: #000;
  color: #fff;
  padding: 4rem 2rem 2rem;
}

/* Main container */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* col */
.footer-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* Left content */
.footer-column h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-column p{
  max-width: 480px;
  line-height: 1.6;
  font-size: 0.95rem;
  color: #9ca3af;
  font-style: italic;
}

/* Social icons container */
.footer-socials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Social icon button */
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  color:rgb(183 183 183);
}

/* Hover effect */
.social-icon:hover {
  border-color: rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
  color: #9716f6;
}


/* Divider */
.footer-divider {
  margin: 3rem auto 1.5rem;
  max-width: 1200px;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}
.text-foot {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
    font-size: .75rem;
    line-height: 1rem;
}

/* -------------------- */
/* RESPONSIVE STYLES */
/* -------------------- */

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-paragraph {
    max-width: 100%;
  }

  .footer-socials {
    margin-top: 1.5rem;
  }
}
